In [1]:
import pandas as pd

In [2]:
mk1_orders = pd.read_csv(
    r"C:\Users\USER\Data-pipeline-Individual\Market 1 Orders.csv")

In [3]:
mk1_orders.head()

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,...,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,NaN,NaN,1,4400,4250,4250,...,NaN,NaN,0,-,50,-,NaN,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,NaN,NaN,1,180,130,130,...,NaN,NaN,0,-,-,-,NaN,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,NaN,NaN,6,263,247,1482,...,NaN,NaN,0,-,-,-,NaN,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,NaN,NaN,10,65,58,580,...,NaN,NaN,0,-,-,-,NaN,0,-,-
4,11264651,ORDERED,Beverages,KKBE0105,NaN,NaN,1,249,208.5,208.5,...,NaN,NaN,0,-,-,-,NaN,0,-,-

In [4]:
mk1_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12242 entries, 0 to 12241
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order ID                  12242 non-null  int64
 1   Order Status              12242 non-null  object
 2   Category Name             12236 non-null  object
 3   SKU                       12239 non-null  object
 4   Customization Group       0 non-null      float64
 5   Customization Option      0 non-null      float64
 6   Quantity                  12242 non-null  int64
 7   Unit Price                12242 non-null  int64
 8   Cost Price                12242 non-null  object
 9   Total Cost Price          12242 non-null  object
 10  Total Price               12242 non-null  int64
 11  Order Total               12242 non-null  float64
 12  Sub Total                 12242 non-null  int64
 13  Tax                       12242 non-null  object
 14  Delivery Charge           12242 non-null  object
 15  Tip                       12242 non-null  object
 16  Discount                  12242 non-null  object
 17  Remaining Balance         12242 non-null  int64
 18  Payment Method            12242 non-null  object
 19  Additional Charge         12242 non-null  object
 20  Taxable Amount            12242 non-null  object
 21  Transaction ID            12242 non-null  int64
 22  Currency Symbol           12242 non-null  object
 23  Transaction Status        0 non-null      float64
 24  Promo Code                0 non-null      float64
 25  Customer ID               12242 non-null  int64
 26  Merchant ID               12242 non-null  int64
 27  Description               5169 non-null   object
 28  Distance (in km)          12242 non-null  float64
 29  Order Time                12242 non-null  object
 30  Pickup Time               12242 non-null  object
 31  Delivery Time             12242 non-null  object
 32  Ratings                   32 non-null     float64
 33  Reviews                   13 non-null     object
 34  Merchant Earning          0 non-null      float64
 35  Commission Amount         0 non-null      float64
 36  Commission Payout Status  0 non-null      float64
 37  Order Preparation Time    12242 non-null  int64
 38  Debt Amount               12242 non-null  object
 39  Redeemed Loyalty Points   12242 non-null  object
 40  Consumed Loyalty Points   12242 non-null  object
 41  Cancellation Reason       0 non-null      float64
 42  Flat Discount             12242 non-null  int64
 43  Checkout Template Name    12242 non-null  object
 44  Checkout Template Value   12242 non-null  object
dtypes: float64(11), int64(11), object(23)
memory usage: 4.2+ MB

In [5]:
mk1_orders.columns

Index(['Order ID', 'Order Status', 'Category Name', 'SKU',
       'Customization Group', 'Customization Option', 'Quantity', 'Unit Price',
       'Cost Price', 'Total Cost Price', 'Total Price', 'Order Total',
       'Sub Total', 'Tax', 'Delivery Charge', 'Tip', 'Discount',
       'Remaining Balance', 'Payment Method', 'Additional Charge',
       'Taxable Amount', 'Transaction ID', 'Currency Symbol',
       'Transaction Status', 'Promo Code', 'Customer ID', 'Merchant ID',
       'Description', 'Distance (in km)', 'Order Time', 'Pickup Time',
       'Delivery Time', 'Ratings', 'Reviews', 'Merchant Earning',
       'Commission Amount', 'Commission Payout Status',
       'Order Preparation Time', 'Debt Amount', 'Redeemed Loyalty Points',
       'Consumed Loyalty Points', 'Cancellation Reason', 'Flat Discount',
       'Checkout Template Name', 'Checkout Template Value'],
      dtype='object')

In [6]:
cols_to_drop = ['Customization Group', 'Customization Option', 'Transaction Status', 'Promo Code', 'Ratings', 'Reviews', 'Merchant Earning',
       'Commission Amount', 'Commission Payout Status', 'Cancellation Reason', 'Description']

In [7]:
mk1_orders = mk1_orders.drop(cols_to_drop, axis=1)

In [8]:
mk1_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12242 entries, 0 to 12241
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order ID                 12242 non-null  int64
 1   Order Status             12242 non-null  object
 2   Category Name            12236 non-null  object
 3   SKU                      12239 non-null  object
 4   Quantity                 12242 non-null  int64
 5   Unit Price               12242 non-null  int64
 6   Cost Price               12242 non-null  object
 7   Total Cost Price         12242 non-null  object
 8   Total Price              12242 non-null  int64
 9   Order Total              12242 non-null  float64
 10  Sub Total                12242 non-null  int64
 11  Tax                      12242 non-null  object
 12  Delivery Charge          12242 non-null  object
 13  Tip                      12242 non-null  object
 14  Discount                 12242 non-null  object
 15  Remaining Balance        12242 non-null  int64
 16  Payment Method           12242 non-null  object
 17  Additional Charge        12242 non-null  object
 18  Taxable Amount           12242 non-null  object
 19  Transaction ID           12242 non-null  int64
 20  Currency Symbol          12242 non-null  object
 21  Customer ID              12242 non-null  int64
 22  Merchant ID              12242 non-null  int64
 23  Distance (in km)         12242 non-null  float64
 24  Order Time               12242 non-null  object
 25  Pickup Time              12242 non-null  object
 26  Delivery Time            12242 non-null  object
 27  Order Preparation Time   12242 non-null  int64
 28  Debt Amount              12242 non-null  object
 29  Redeemed Loyalty Points  12242 non-null  object
 30  Consumed Loyalty Points  12242 non-null  object
 31  Flat Discount            12242 non-null  int64
 32  Checkout Template Name   12242 non-null  object
 33  Checkout Template Value  12242 non-null  object
dtypes: float64(2), int64(11), object(21)
memory usage: 3.2+ MB

In [9]:
mk1_orders = mk1_orders.dropna()

In [10]:
mk1_orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12233 entries, 0 to 12241
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order ID                 12233 non-null  int64
 1   Order Status             12233 non-null  object
 2   Category Name            12233 non-null  object
 3   SKU                      12233 non-null  object
 4   Quantity                 12233 non-null  int64
 5   Unit Price               12233 non-null  int64
 6   Cost Price               12233 non-null  object
 7   Total Cost Price         12233 non-null  object
 8   Total Price              12233 non-null  int64
 9   Order Total              12233 non-null  float64
 10  Sub Total                12233 non-null  int64
 11  Tax                      12233 non-null  object
 12  Delivery Charge          12233 non-null  object
 13  Tip                      12233 non-null  object
 14  Discount                 12233 non-null  object
 15  Remaining Balance        12233 non-null  int64
 16  Payment Method           12233 non-null  object
 17  Additional Charge        12233 non-null  object
 18  Taxable Amount           12233 non-null  object
 19  Transaction ID           12233 non-null  int64
 20  Currency Symbol          12233 non-null  object
 21  Customer ID              12233 non-null  int64
 22  Merchant ID              12233 non-null  int64
 23  Distance (in km)         12233 non-null  float64
 24  Order Time               12233 non-null  object
 25  Pickup Time              12233 non-null  object
 26  Delivery Time            12233 non-null  object
 27  Order Preparation Time   12233 non-null  int64
 28  Debt Amount              12233 non-null  object
 29  Redeemed Loyalty Points  12233 non-null  object
 30  Consumed Loyalty Points  12233 non-null  object
 31  Flat Discount            12233 non-null  int64
 32  Checkout Template Name   12233 non-null  object
 33  Checkout Template Value  12233 non-null  object
dtypes: float64(2), int64(11), object(21)
memory usage: 3.3+ MB

In [11]:
mk1_orders.head()

,Order ID,Order Status,Category Name,SKU,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,...,Order Time,Pickup Time,Delivery Time,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,1,4400,4250,4250,4400,4350.0,...,2022-02-17T16:36:27.000Z,2022-02-17T16:37:16.000Z,2022-02-18T08:00:00.000Z,0,-,50,-,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,1,180,130,130,180,7255.0,...,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,6,263,247,1482,1578,7255.0,...,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,10,65,58,580,650,7255.0,...,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
4,11264651,ORDERED,Beverages,KKBE0105,1,249,208.5,208.5,249,7255.0,...,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-

after using the set fuction
set(mk1_orders['column_name]) to check for distinct values as see columns which have no values , columns i can drop are 

orders columns from market 1 i can drop are; 
['Order Preparation Time': 0,'Flat Discount':0,'Checkout Template Name':-, 'Checkout Template Value':-,'Tax':-, 'Delivery Charge':-, 'Tip':-, 'Discount':-,'Remaining Balance':0,'Additional Charge':-, 'Taxable Amount':-, 'Transaction ID':0,  '#Currency Symbol':KSh, Merchant ID:893555]

In [12]:
mk1_orders.to_csv('up_mk1_orders.csv', index=False)

In [13]:
df3 = pd.read_csv('up_mk1_orders.csv')
df2 = pd.read_csv('up_mk1_cus.csv')

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12233 entries, 0 to 12232
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order ID                 12233 non-null  int64
 1   Order Status             12233 non-null  object
 2   Category Name            12233 non-null  object
 3   SKU                      12233 non-null  object
 4   Quantity                 12233 non-null  int64
 5   Unit Price               12233 non-null  int64
 6   Cost Price               12233 non-null  object
 7   Total Cost Price         12233 non-null  object
 8   Total Price              12233 non-null  int64
 9   Order Total              12233 non-null  float64
 10  Sub Total                12233 non-null  int64
 11  Tax                      12233 non-null  object
 12  Delivery Charge          12233 non-null  object
 13  Tip                      12233 non-null  object
 14  Discount                 12233 non-null  object
 15  Remaining Balance        12233 non-null  int64
 16  Payment Method           12233 non-null  object
 17  Additional Charge        12233 non-null  object
 18  Taxable Amount           12233 non-null  object
 19  Transaction ID           12233 non-null  int64
 20  Currency Symbol          12233 non-null  object
 21  Customer ID              12233 non-null  int64
 22  Merchant ID              12233 non-null  int64
 23  Distance (in km)         12233 non-null  float64
 24  Order Time               12233 non-null  object
 25  Pickup Time              12233 non-null  object
 26  Delivery Time            12233 non-null  object
 27  Order Preparation Time   12233 non-null  int64
 28  Debt Amount              12233 non-null  object
 29  Redeemed Loyalty Points  12233 non-null  object
 30  Consumed Loyalty Points  12233 non-null  object
 31  Flat Discount            12233 non-null  int64
 32  Checkout Template Name   12233 non-null  object
 33  Checkout Template Value  12233 non-null  object
dtypes: float64(2), int64(11), object(21)
memory usage: 3.2+ MB

In [15]:
df3.columns = df3.columns.str.strip()
df2.columns = df2.columns.str.strip()

In [16]:
merged_order1_cus1 = pd.merge(df3, df2, on='Customer ID', how='left')

In [17]:
merged_order1_cus1

,Order ID,Order Status,Category Name,SKU,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,...,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,1,4400,4250,4250,4400,4350.0,...,-,0,-,-,WEB,0,2021-06-11T15:42:57.000Z,en,0,43
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,1,180,130,130,180,7255.0,...,-,0,-,-,WEB,0,2021-11-09T15:40:46.000Z,en,0,145
2,11264651,ORDERED,Flour & Sugar,KKFS0702,6,263,247,1482,1578,7255.0,...,-,0,-,-,WEB,0,2021-11-09T15:40:46.000Z,en,0,145
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,10,65,58,580,650,7255.0,...,-,0,-,-,WEB,0,2021-11-09T15:40:46.000Z,en,0,145
4,11264651,ORDERED,Beverages,KKBE0105,1,249,208.5,208.5,249,7255.0,...,-,0,-,-,WEB,0,2021-11-09T15:40:46.000Z,en,0,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12228,10387712,COMPLETED,Flour & Sugar,KKFS0702,2,263,247,494,526,2396.0,...,26,0,-,-,WEB,0,2021-09-24T08:52:29.000Z,en,0,1290
12229,10387712,COMPLETED,Meat & Fish,KKMF0100,1,490,450,450,490,2396.0,...,26,0,-,-,WEB,0,2021-09-24T08:52:29.000Z,en,0,1290
12230,10387273,CANCELLED,Flour & Sugar,KKFS0222,3,1670,1630,4890,5010,7180.0,...,-,0,-,-,WEB,0,2021-07-22T16:47:27.000Z,en,0,1037
12231,10387273,CANCELLED,Flour & Sugar,KKFSO172,1,1370,1190,1190,1370,7180.0,...,-,0,-,-,WEB,0,2021-07-22T16:47:27.000Z,en,0,1037
12232,10387273,CANCELLED,Salt & Seasoning,KKSS1105,4,200,187.5,750,800,7180.0,...,-,0,-,-,WEB,0,2021-07-22T16:47:27.000Z,en,0,1037

In [18]:
merged_order1_cus1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12233 entries, 0 to 12232
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order ID                 12233 non-null  int64
 1   Order Status             12233 non-null  object
 2   Category Name            12233 non-null  object
 3   SKU                      12233 non-null  object
 4   Quantity                 12233 non-null  int64
 5   Unit Price               12233 non-null  int64
 6   Cost Price               12233 non-null  object
 7   Total Cost Price         12233 non-null  object
 8   Total Price              12233 non-null  int64
 9   Order Total              12233 non-null  float64
 10  Sub Total                12233 non-null  int64
 11  Tax                      12233 non-null  object
 12  Delivery Charge          12233 non-null  object
 13  Tip                      12233 non-null  object
 14  Discount                 12233 non-null  object
 15  Remaining Balance        12233 non-null  int64
 16  Payment Method           12233 non-null  object
 17  Additional Charge        12233 non-null  object
 18  Taxable Amount           12233 non-null  object
 19  Transaction ID           12233 non-null  int64
 20  Currency Symbol          12233 non-null  object
 21  Customer ID              12233 non-null  int64
 22  Merchant ID              12233 non-null  int64
 23  Distance (in km)         12233 non-null  float64
 24  Order Time               12233 non-null  object
 25  Pickup Time              12233 non-null  object
 26  Delivery Time            12233 non-null  object
 27  Order Preparation Time   12233 non-null  int64
 28  Debt Amount              12233 non-null  object
 29  Redeemed Loyalty Points  12233 non-null  object
 30  Consumed Loyalty Points  12233 non-null  object
 31  Flat Discount            12233 non-null  int64
 32  Checkout Template Name   12233 non-null  object
 33  Checkout Template Value  12233 non-null  object
 34  Last Used Platform       12233 non-null  object
 35  Is Blocked               12233 non-null  int64
 36  Created At               12233 non-null  object
 37  Language                 12233 non-null  object
 38  Outstanding Amount       12233 non-null  int64
 39  Loyalty Points           12233 non-null  int64
dtypes: float64(2), int64(14), object(24)
memory usage: 3.7+ MB

In [19]:
merged_order1_cus1.to_csv('update_mk1_orders.csv', index=False)

In [20]:

# Read the orders table
orders = pd.read_csv('update_mk1_orders.csv')

# Calculate aggregate metrics
aggregate_metrics = {
    'Total Transaction Amount per User': orders.groupby('Customer ID')['Order Total'].sum(),
    'Average Order Value': orders['Order Total'].mean(),
    'Total Sales Revenue': orders['Order Total'].sum(),
    'Total Number of Orders': orders['Order ID'].nunique(),
    'Total Number of Customers': orders['Customer ID'].nunique(),
    'Total Quantity Sold per Category': orders.groupby('Category Name')['Quantity'].sum(),
    'Total Revenue per Category': orders.groupby('Category Name')['Order Total'].sum(),
    'Average Transaction Time': (pd.to_datetime(orders['Delivery Time']) - pd.to_datetime(orders['Order Time'])).mean(),
    'Total Revenue per Merchant': orders.groupby('Merchant ID')['Order Total'].sum(),
    'Total Revenue per Payment Method': orders.groupby('Payment Method')['Order Total'].sum()
}

# Display the aggregate metrics
for metric, result in aggregate_metrics.items():
    print(metric)
    print(result)
    print()

Total Transaction Amount per User
Customer ID
3365019     23690.0
3365770    238283.0
3377953     93840.0
3378262    186326.0
3385533     74791.0
             ...
5185675      6042.0
5188032      6465.0
5188161     20190.0
5188263     59950.0
5189011      4400.0
Name: Order Total, Length: 550, dtype: float64

Average Order Value
10997.868570260769

Total Sales Revenue
134536926.22

Total Number of Orders
3451

Total Number of Customers
550

Total Quantity Sold per Category
Category Name
Beverages               456
Cleaning & Hygiene     2828
Cooking Fat & Oil      6363
Flour & Sugar          9460
Fruits & Vegetables    4045
Meat & Fish            1605
Packaging              1548
Rice & Cereals          827
Salt & Seasoning       3487
Spreads                  28
Name: Quantity, dtype: int64

Total Revenue per Category
Category Name
Beverages               2813832.16
Cleaning & Hygiene      8722558.78
Cooking Fat & Oil      36259249.42
Flour & Sugar          38488810.72
Fruits & Vegetables    12791856.58
Meat & Fish             4655218.80
Packaging               6689649.96
Rice & Cereals          4886585.26
Salt & Seasoning       18988644.96
Spreads                  240519.58
Name: Order Total, dtype: float64

Average Transaction Time
0 days 15:12:01.893975312

Total Revenue per Merchant
Merchant ID
893555    1.345369e+08
Name: Order Total, dtype: float64

Total Revenue per Payment Method
Payment Method
CASH         1.198262e+08
Pay Later    1.471071e+07
Name: Order Total, dtype: float64

In [21]:
merged_order1_cus1.columns

Index(['Order ID', 'Order Status', 'Category Name', 'SKU', 'Quantity',
       'Unit Price', 'Cost Price', 'Total Cost Price', 'Total Price',
       'Order Total', 'Sub Total', 'Tax', 'Delivery Charge', 'Tip', 'Discount',
       'Remaining Balance', 'Payment Method', 'Additional Charge',
       'Taxable Amount', 'Transaction ID', 'Currency Symbol', 'Customer ID',
       'Merchant ID', 'Distance (in km)', 'Order Time', 'Pickup Time',
       'Delivery Time', 'Order Preparation Time', 'Debt Amount',
       'Redeemed Loyalty Points', 'Consumed Loyalty Points', 'Flat Discount',
       'Checkout Template Name', 'Checkout Template Value',
       'Last Used Platform', 'Is Blocked', 'Created At', 'Language',
       'Outstanding Amount', 'Loyalty Points'],
      dtype='object')

In [22]:
merged_order1_cus1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12233 entries, 0 to 12232
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order ID                 12233 non-null  int64
 1   Order Status             12233 non-null  object
 2   Category Name            12233 non-null  object
 3   SKU                      12233 non-null  object
 4   Quantity                 12233 non-null  int64
 5   Unit Price               12233 non-null  int64
 6   Cost Price               12233 non-null  object
 7   Total Cost Price         12233 non-null  object
 8   Total Price              12233 non-null  int64
 9   Order Total              12233 non-null  float64
 10  Sub Total                12233 non-null  int64
 11  Tax                      12233 non-null  object
 12  Delivery Charge          12233 non-null  object
 13  Tip                      12233 non-null  object
 14  Discount                 12233 non-null  object
 15  Remaining Balance        12233 non-null  int64
 16  Payment Method           12233 non-null  object
 17  Additional Charge        12233 non-null  object
 18  Taxable Amount           12233 non-null  object
 19  Transaction ID           12233 non-null  int64
 20  Currency Symbol          12233 non-null  object
 21  Customer ID              12233 non-null  int64
 22  Merchant ID              12233 non-null  int64
 23  Distance (in km)         12233 non-null  float64
 24  Order Time               12233 non-null  object
 25  Pickup Time              12233 non-null  object
 26  Delivery Time            12233 non-null  object
 27  Order Preparation Time   12233 non-null  int64
 28  Debt Amount              12233 non-null  object
 29  Redeemed Loyalty Points  12233 non-null  object
 30  Consumed Loyalty Points  12233 non-null  object
 31  Flat Discount            12233 non-null  int64
 32  Checkout Template Name   12233 non-null  object
 33  Checkout Template Value  12233 non-null  object
 34  Last Used Platform       12233 non-null  object
 35  Is Blocked               12233 non-null  int64
 36  Created At               12233 non-null  object
 37  Language                 12233 non-null  object
 38  Outstanding Amount       12233 non-null  int64
 39  Loyalty Points           12233 non-null  int64
dtypes: float64(2), int64(14), object(24)
memory usage: 3.7+ MB